.icon-picker {
  .ant-btn.is-selected {
    border-color: var(--ant-color-primary);
    background-color: var(--ant-color-primary-bg);
    color: var(--ant-color-primary);
    
    &:hover {
      border-color: var(--ant-color-primary-hover);
      color: var(--ant-color-primary-hover);
    }
  }
}
